<nav class="page-sidebar" data-pages="sidebar">
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-t-30 ">
        <a href="index.html" class="detailed">
        <span class="title">Dashboard</span>
        <span class="details">12 New Updates</span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
      </li>
      <li class="">
        <a href="/inventories"><span class="title">Inventory</span></a>
        <span class="icon-thumbnail "><i class="fa fa-table"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</nav>
