<nav class="page-sidebar" data-pages="sidebar">
  <div class="sidebar-menu">
    <ul class="menu-items">
      <li class="m-t-30 ">
        <a href="/inventories" class="detailed">
          <span class="title">Welcome <%= session[:user_name] %></span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="fa fa-home"></i></span>
      </li>
      <li class="">
        <a href="/inventories"><span class="title">Inventory</span></a>
        <span class="icon-thumbnail "><i class="fa fa-table"></i></span>
      </li>
      <li class="">
        <a href="/inventory_ins"><span class="title">Inventory In</span></a>
        <span class="icon-thumbnail "><i class="fa fa-bars"></i></span>
      </li>
      <li class="">
        <a href="/customers"><span class="title">Customer</span></a>
        <span class="icon-thumbnail "><i class="fa fa-male"></i></span>
      </li>
      <li class="">
        <a href="/vendors"><span class="title">Vendor</span></a>
        <span class="icon-thumbnail "><i class="fa fa-male"></i></span>
      </li>
      <li class="">
        <a href="/truckings"><span class="title">Truckings</span></a>
        <span class="icon-thumbnail "><i class="fa fa-truck"></i></span>
      </li>
      <% if session[:user_role] == 'admin' %>
      <li class="">
        <a href="/users"><span class="title">Users</span></a>
        <span class="icon-thumbnail "><i class="fa fa-male"></i></span>
      </li>
      <% end %>
      <li class="">
        <a href="/logout"><span class="title">Log Out</span></a>
        <span class="icon-thumbnail "><i class="fa fa-sign-out"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</nav>
