<div class="header ">
  <div class="pull-left full-height visible-sm visible-xs">
    <div class="sm-action-bar">
      <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
      <span class="icon-set menu-hambuger"></span>
      </a>
    </div>
  </div>
  <div class="pull-right full-height visible-sm visible-xs">
    <div class="sm-action-bar">
      <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
      <span class="icon-set menu-hambuger-plus"></span>
      </a>
    </div>
  </div>
  <div class=" pull-left sm-table">
    <div class="header-inner">
        <div class="brand inline">
        <%= image_tag("logo.png", height: '22', width: '98') %>
      </div>
    </div>
  </div>
</div>
