<table class="table table-hover" id="tableWithDynamicRows">
  <thead>
    <tr>
      <th>BILL NO#</th>
      <th>BILL DATE</th>
      <th>PAID DATE</th>
      <th>CUSTOMER</th>
    </tr>
  </thead>
  <tbody>
    <% @vendor_bills.each do |vb| %>
      <tr>
          <td><%= link_to vb.bill_no, bill_path(vb) %></td>
          <td><%= vb.bill_date %></td>
          <td><%= vb.paid_date %></td>
          <td><%= vb.customer_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
